@font-face {
  font-family: "VarelaRound";
  src: url("/static/VarelaRound-Regular.ttf");
 }

html {
  background-color: white;
}
body {
  margin: auto;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0px 5px;
  width: 500px;
  height: 100%;
  background-color: black;
}

#logo {
  color: #1e90ff;
  text-align: center;
  font-size: 72px;
  font-family: 'Dosis', monospace;
}

#formFriendlier {
  background-color: black;
}

#nicknameLabel {
  color: white;
  font-family: monospace;
  font-size: 15px;
  margin-left: 5px;
}

#nickname {
  margin-top: 5px;
  background-color: #e6e6e6;
}

#anonymousLabel {
  color: white;
  font-family: monospace;
  font-size: 15px;
  margin-right: 10px;
}

.gridMessagesClass {
  display: grid;
  grid-auto-rows: 200px;
  background-color: black;
  margin-top: 50px;
}

#message {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 125px;
  border: none;
  box-shadow: none;
  background-color: #0ff;
  font-size: 25px;
}

#submitMessagebtn {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #f0e8e3;
  color: black;
}

#nickname {
  border: none;
  margin-bottom: 5px;
  height: 25px;
}

#anonymous {
  margin-left: 100px;
}

.friendliersClass {
  background-color: #80ff00;
  border-style: solid;
  border-width: 2px;
}
.firstParagraph {
  display: inline-block;
  margin-left: 25px;
  color: #8000ff;
  font-size: 25px;
  font-family: 'VarelaRound', monospace;
}

.secondParagraph {
  display: inline-block;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 5px;
}

.thirdParagraph {
  font-size: 20px;
  font-family: sans-serif;
  margin: 15px 10px 10px 10px;
  word-break:break-all;
}
