html {
  background-color: #00844c;
}
body {
  margin: auto;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0px 5px;
  width: 500px;
  height: 100%;
}

#logo {
  text-align: center;
}

.gridMessages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.gridFriendlier1 {
  background-color: red;
  grid-column-start: 1fr 1fr;
  grid-column-end: 1fr 1fr;
}
